.header{
  height:60px;
  position:relative;
  background-size:cover;
  background-image: url('../../image/material2.jpg');
}
.title {
  position:absolute;
  left:20px;
  font-size:30px;
  color:#fff; 
  line-height: 60px;
}
.about {
  position:absolute;
  right:10px;
  font-size:15px;
  color:#fff;
  bottom:10px;
  border: none;
  color: white;
  background:transparent;
  text-align: center;
  outline: none;
  display: inline-block;
}
.about:hover {
  outline: solid;
  outline-width: 0.1px;
  outline-color: #ffffff
}