.selectors {
    position: absolute;
    width: 100px;
    height: 30px;
    top: 85px;
    left: 150px;
    z-index: 999;
    border-radius: 20px;
    display: flex;
    & > div {
        padding: 0 5px;
    }
}
 .chartContainer{
    position: absolute;
    bottom: 0;
    width: 80%;
    right:0;
    left:0;
    margin: auto;
    z-index: 999;
 }
 .yearModal{
    position: absolute;
    right: 70px;
    bottom: 80px;
    z-index: 999;
 }