.selectors {
    position: absolute;
    width: 100px;
    height: 30px;
    top: 85px;
    left: 150px;
    z-index: 999;
    border-radius: 20px;
    display: flex;
    & > div {
        padding: 0 5px;
    }
}
 .chartContainer{
    position: absolute;
    height: 200px;
    width: 100%;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 999;
 }