.play_button {
    position: absolute;
    left: 20px;
    bottom: 50px;
    transition: all 0.5s;
}

.traj_set{
    position: absolute;
    left: 20px;
    bottom: 300px;
    transition: all 0.5s;
}
